<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate of Excellence</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="border-pattern">
        <div class="content">
            <div class="inner-content">
                <h1>Certificate</h1>
                <h2>of Excellence</h2>
                <h3>This Certificate Is Proudly Presented To</h3>
                <p class="candidate-name">{{candidateName}}</p>
                <h3>Has Successfully Completed</h3>
                <p>The Course with a Score of</p>
                <p class="score">{{score}}%</p>
                <h3>Date of Birth</h3>
                <p>{{dateNaissance}}</p>
                <!-- <h3>Date of Issue</h3>
                <p>{{currentDate}}</p> -->
                <div class="badge-left">
                    <img src="https://e7.pngegg.com/pngimages/379/699/png-clipart-blue-signature-text-document-primary-color-blue-angle.png"
                        alt="Signature">
                </div>
                <div class="badge">
                    <img src="https://cdn.worldvectorlogo.com/logos/ntt.svg" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</body>

</html>