<h1>Formations</h1>

<!-- <div class="header">
    <div class="left">
        <h1>Formations</h1>
        <ul class="breadcrumb">
            <li><a href="#">
                    Analytics
                </a></li>
            /
            <li><a href="#" class="active">Shop</a></li>
        </ul>
    </div>

</div>


<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Recent Orders</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div> -->
<!-- <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Order Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="../assets/images/profile-1.jpg">
                        <p>John Doe</p>
                    </td>
                    <td>14-08-2023</td>
                    <td><span class="status completed">Completed</span></td>
                </tr>
                <tr>
                    <td>
                        <img src="../assets/images/profile-1.jpg">
                        <p>John Doe</p>
                    </td>
                    <td>14-08-2023</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>
                        <img src="../assets/images/profile-1.jpg">
                        <p>John Doe</p>
                    </td>
                    <td>14-08-2023</td>
                    <td><span class="status process">Processing</span></td>
                </tr>
            </tbody>
        </table> -->

<!-- <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Expérience Professionnelle</th>
                    <th>Niveau d'Études</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>1990-05-15</td>
                    <td>johndoeexample.com</td>
                    <td>123-456-7890</td>
                    <td>123 Street, City</td>
                    <td>5 years</td>
                    <td>Bachelor's Degree</td>
                    <td><span class="status process">Processing</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jane</td>
                    <td>Smith</td>
                    <td>1988-12-20</td>
                    <td>janesmithexample.com</td>
                    <td>987-654-3210</td>
                    <td>456 Avenue, Town</td>
                    <td>8 years</td>
                    <td>Master's Degree</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>

            </tbody>
        </table>


    </div>



  
</div> -->