<div class="header">
    <div class="left">
        <h1>Certifications</h1>
        <ul class="breadcrumb">
            <li><a href="#">Template</a></li>
            <li><a href="#" class="active">Certifications</a></li>
        </ul>
    </div>
</div>

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Our Certifications Template</h3>

            <a (click)="showAddForm()">
                <i style="background-color: blue;border-radius: 50%; color: aliceblue;" class='bx bx-plus'></i>
            </a>

        </div>

        <table>
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Name</th>


                    <th>Delete</th>
                    <th>Update</th>
                    <th>View Details</th>
                    <th>Print</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let certif of certificates">

                    <td>{{ certif.id }}</td>
                    <td>{{ certif.name }}</td>




                    <td>
                        <button class="btn btn-danger" (click)="onDelete(certif.id)"> Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="showUpdateForm(certif)"> Update</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" (click)="showDetails(certif.id)"> Details</button>
                    </td>
                    <td>
                        <button class="btn btn-primary"> Print</button>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>