<div class="header">
    <div class="left">
        <h1>Candidat</h1>
        <ul class="breadcrumb">
            <li><a href="#">All</a></li>
            <li><a href="#" class="active">Candidats</a></li>
        </ul>
    </div>
</div>

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-smile'></i>
            <h3>Our Candidats</h3>

            <a href="javascript:void(0);" (click)="showAddCandidatForm()">
                <i style="background-color: blue;border-radius: 50%; color: aliceblue;" class='bx bx-plus'></i>
            </a>

        </div>

        <table>
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Nom</th>
                    <th>Score</th>
                    <th>Date Naissance</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>View Details</th>
                    <th>Print</th>
                    <th>Printed</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidat of candidats ; let i = index">

                    <td>{{ candidat.id }}</td>
                    <td>{{ candidat.name }}</td>
                    <td>{{ candidat.score }}</td>
                    <td>{{ candidat.dateNaissance }}</td>


                    <td> <button class="btn btn-danger" (click)="onDelete(candidat.id)"> Delete</button></td>
                    <td> <button class="btn btn-success" (click)="showUpdateForm(candidat)"> Update</button></td>
                    <td> <button class="btn btn-warning" (click)="showDetails(candidat.id)"> Details</button></td>
                    <td>
                        <button class="btn btn-primary" (click)="showCertificateSelectionModal(candidat)">Print</button>
                    </td>
                    <td>
                        <div class="checkbox-wrapper">
                            <input [id]="'_checkbox-' + i" type="checkbox" [checked]="candidat.isPrinted" disabled>
                            <label [for]="'_checkbox-' + i">
                                <div class="tick_mark"></div>
                            </label>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
</div>