<div class="header">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li><a href="#">
                    Dashboard
                </a></li>
            /
            <li><a href="#" class="active">Dashboard</a></li>
        </ul>
    </div>

</div>


<ul class="insights">
    <li>
        <i class='bx bx-calendar-check'></i>
        <span class="info">
            <h3>
                {{this.CountCandidat}}
            </h3>
            <p>Our Candidat</p>
        </span>
    </li>
    <li><i class='bx bx-dollar-circle'></i>
        <span class="info">
            <h3>
                {{this.CountCertification}}
            </h3>
            <p>Certifications</p>
        </span>
    </li>
    <li><i class='bx bx-show-alt'></i>
        <span class="info">
            <h3>
                100
            </h3>
            <p>test</p>
        </span>
    </li>
    <li><i class='bx bx-line-chart'></i>
        <span class="info">
            <h3>
                100
            </h3>
            <p>test</p>
        </span>
    </li>

</ul>