.first {
    background-color: rgb(166, 209, 255) !important;
}

.second {
    background-color: rgb(248, 255, 150) !important;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chart {
    width: 48%;
}

.chart h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

canvas {
    max-width: 100%;
    height: auto;
}